@import "../../../_css/common";

.form {
  margin-bottom: var(--base);
  margin-top: var(--form-margin-top);
  display: flex;
  flex-direction: column;
  gap: calc(var(--form-gap));
  align-items: flex-start;
  width: 100%;
}

.submit {
  width: 100%;
}

.message {
  margin-bottom: var(--base);
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}